h1 {
    color: red;
    font-size: 30px;
}

p {
    background-color: aqua;
}

div p {
    color: white;
    background: red;
}

body {
    background-color: black;
}

.gandalf {
    width: 600px;
    height: 400px;
    border: 10px white solid;
    margin: 10px 30px 50px 70px;
    padding: 10px 20px 30px 40px;
}